@model BoardGame1.Models.ViewModels.DetailsGame
@{
    ViewBag.Title = "View";
}

<a href="/Game/List">Go back to list</a>
<br />
<a href="/Game/Edit/@Model.SelectedGame.GameId">Update</a>
<br />
<a style="color:#ab2020;" href="/Game/DeleteConfirm/@Model.SelectedGame.GameId">Delete</a>
<h2>@Model.SelectedGame.GameName</h2>
<div>Rent Price: @Model.SelectedGame.GamePrice $</div>
<div>Rental Order: @Model.SelectedGame.RentalId</div>
<div>Rental Date: @Model.SelectedGame.RentDate</div>

