@model IEnumerable<BoardGame1.Models.RentalDto>
@{
    ViewBag.Title = "Create";
}

<h2>Create Game</h2>

<form action="/Game/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="GameName" />
    </div>
    <div>
        <label>Price ($):</label> <input type="number" name="GamePrice" />
    </div>
    <div>
        <label>Rental Order:</label>
        <select name="RentalId">
            @foreach (var rental in Model)
            {
                <option value="@rental.RentalId">Rental ID:  @rental.RentalId Rental Date: @rental.RentDate</option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Add Game" />

    </div>
</form>