@model BoardGame1.Models.RentalDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Rental Order?</h2>
<a href="/Rental/List">Cancel</a>
<h3>ID: @Model.RentalId</h3>
<div>Rental Date: @Model.RentDate</div>
<form action="/Rental/Delete/@Model.RentalId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
