@model BoardGame1.Models.ViewModels.DetailsRental
@{
    ViewBag.Title = "View";
}

<a href="/Rental/List">Go back to list</a>
<br />
<a href="/Rental/Edit/@Model.SelectedRental.RentalId">Update</a>
<br />
<a style="color:#ab2020;" href="/Rental/DeleteConfirm/@Model.SelectedRental.RentalId">Delete</a>

<h2>Rental Order: @Model.SelectedRental.RentalId</h2>

<div>Rental Date: @Model.SelectedRental.RentDate</div>

<div style="margin-top:100px;">
    <h3>Games related to this purchase order</h3>
    @foreach (var game in Model.RelatedGames)
    {
       <p> <a href="/Game/Details/@game.GameId">Game Name: @game.GameName //Game Price: @game.GamePrice $</a></p>

    }
</div>