
@{
    ViewBag.Title = "Create";
}

<h2>Create Rental Orders</h2>

<form action="/Rental/Create" method="POST">

    <div>
        <label>Rental Date:</label> <input type="date" input name="RentDate" />
    </div>
    <div>
        <input type="submit" value="Add Rental" />

    </div>
</form>